header {
    background-color: var(--main-accent-colour);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 10px;
}

header a {
    background-color: var(--main-bg-colour);
    border-radius: 4vw;
    color: var(--main-accent-colour);
    padding: 12px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

header a.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-right {
    background-color: var(--main-bg-colour);
    border-radius: 4vw;
    color: var(--main-accent-colour);
    margin-right: 0.5rem;
    line-height: 24px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

.header-right:hover .dropdown-content {
    display: block;
}

.dropdown-button {
    background-color: var(--main-bg-colour);
    border: none;
    border-radius: 100vw;
    color: var(--main-accent-colour);
    font-size: 24px;
}

.dropdown-button:focus,
.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-content {
    background-color: var(--main-bg-colour);
    border: 2px solid var(--main-accent-colour);
    border-radius: 5px;
    display: none;
    font-weight: 600;
    margin-top: 1vh;
    margin-left: calc(-8vh - 0.5rem);
    position: absolute;
    width: fit-content;
}

.dropdown-content a {
    color: var(--main-accent-colour);
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #e9ae8b;
}
