/* Listing */
.listing-image-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.listing-image-grid > img {
    border: 3px solid var(--main-accent-colour);
    height: 100%;
    width: 100%;
}

.listing-main-img {
    grid-column: span 2;
    grid-row: span 2;
}

.comment-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

/* Responsive layout */
@media only screen and (max-width: 600px) {
    .listing-image-grid {
        grid-template-columns: 1fr;
    }

    .listing-main-img {
        grid-column: span 1;
        grid-row: span 1;
    }
}
